.container {
    display: flex;
    flex-flow: row;
    border: 1px solid #fff;
    width: 400px;
}

.container div {
    flex-basis: 200px;
    flex: 1 1 25%; 
    margin: 0;
}
/* Flex: Flex-grow Flex-shrink Flex-basis */

.container div:nth-child(2) {

}

.container div:nth-child(3) {
}